* {
    margin: 0;
    padding: 0;
}

#barra {
    background-color: grey;
    height: 400px;
}

#barra #elementi {
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -100px;
}

#elementi #title {
    font-size: 30px;
    margin-bottom: 10px;
}

#elementi .tag {
    font-size: 20px;
    margin-top: 20px;
}

#elementi #registrazione {
    margin-top: 20px;
}

#elementi #bottone {
    margin-top: 20px;
}
